{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="w3-container w3-padding w3-margin">
<p>
{% comment %}
{% endcomment %}
{% if user.is_authenticated %}
<h1>
You can now see this secret message!
</h1>
{% else %}
You should not see this secret message!
{% endif %}
Welcome, <strong>{{ profile.name }}, {{ profile.login }}, {{ profile.email }}</strong>!
</p>
<img src="{{ profile.avatar_url }}" width="50%">
<p>
<a href="{% url 'github:logout' %}">Logout</a>
</p>
</div>
{% endblock content %}
